a {
    text-decoration: none;
    color: #373435
}
ul,li{
    list-style-type:none;
}
ul{
    padding: 0;
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 95%;
    }
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}
.header {
    
    text-wrap: nowrap;

    .header-infor {
        background-color: #608127;
        height: 44px;
        padding: 10px;
        color: white !important;
        font-size: 14px;

        a,
        strong {
            color: white;

        }
    }

    .header-navbar {
        height: 100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        font-size: 15px;

        img {
            height: 100%;
        }

        .header-btn {
            color: white;
            border-radius: 15px 0;
            background: #608127;
            padding: 10px;
            border: 1px solid #608127;
            font-weight: bold;

            &:hover {
                background-color: white;
                color: #608127;
            }
        }

        .header-navbar-menu {
            padding: 0;

            &>* {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    height: 2px;
                    right: 0;
                    background-color: #608127;
                    transition: transform .5s;
                    transform-origin: bottom right;
                    transform: scaleX(0);

                }

                &:hover::after {
                    color: #608127;

                    // &::after {
                        // max-width: 100%;
                        transform-origin: bottom left;
                        transform: scaleY(1);
                    // }
                }
            }
        }
    }
}
.dropdown{
    position: relative;
    display: block;
    &:hover .dropdown-content{
        max-height: 500px;
    }
    .dropdown-content{
        background-color: white;
        position:absolute;
        top: 150%;
        display: block;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
        max-height: 0;
        transition: max-height 1s;
        overflow: hidden;
        :not(:last-child){
            border-bottom: 1px solid #608127;
        }
        & *{
            padding: 3px 5px;
        }
        a{
            display: block;
            
            &:hover {
                transform: translateX(5px);
                transition: transform 0.5s;
            }
        }
        
    }
}